<div class="toppage">
  <div class="subheading">
    <h4><%= t('view.subheading') %><h4>
  </div>
  <div class="top_title">
    <h1><%= t('view.toptitle') %></h1>
  </div>

  <div class="function">
    <h3><%= t('view.danger_information_sharing_function') %></h3>
    <p><%= t('view.danger_information_sharing_function_explanation') %></p>
  </div>
  <div class="function">
    <h3><%= t('view.information_sharing_function') %></h3>
    <p><%= t('view.information_sharing_function_explanation') %></p>
  </div>
  <div class="function">
    <h3><%= t('view.post_comment_function') %></h3>
    <p><%= t('view.post_comment_function_explanation') %></p>
  </div>
  <div class="last_function">
    <h3><%= t('view.information_map_function') %></h3>
    <p><%= t('view.information_map_function_explanation') %><strong><%= t('view.preparation') %></strong></p>
  </div>
</div>