<div class="toppage">
  <div class="subheading">
    <h4>地域の皆で子どもを守ろう！<h4>
  </div>
  <div class="top_title">
    <h1>危険情報共有アプリ</h1>
  </div>

  <div class="function">
    <h3><%= t('view.danger_information_sharing_function') %></h3>
    <p><%= t('view.danger_information_sharing_function_explanation') %></p>
  </div>
  <div class="function">
    <h3><%= t('view.information_sharing_function') %></h3>
    <p><%= t('view.information_sharing_function_explanation') %></p>
  </div>
  <div class="function">
    <h3><%= t('view.post_comment_function') %></h3>
    <p><%= t('view.post_comment_function_explanation') %></p>
  </div>
  <div class="last_function">
    <h3><%= t('view.information_map_function') %></h3>
    <p>「不審者が出やすい場所」「動物・虫が出やすい場所」「交通事故が起こりやすい場所」
   「子ども110番の家」を探すことができます。地図上で見れるので、場所が即時にわかります。
    ぜひお子さんと共有し、常日頃気をつけるように促して下さい。<strong>〜準備中〜</strong></p>
  </div>
</div>