<div class="login_title">
  <h1><%=t('view.login')%></h1>
</div>
<div class="login">
  <%= form_with(model: User.new, url: sessions_path, local: true) do |f| %>
    <div class="login_email">
      <div class="login_label">
        <%= f.label :email %>
      </div>
       <div class="login_field">
        <%= f.email_field :email, class: "login_field" %>
       </div>
    </div>
    <div class="login_password">
      <div class="login_label">
        <%= f.label :password %>
      </div>
       <div class="login_field">
        <%= f.password_field :password, class: "login_field" %>
       </div>
    </div>
    <div class="login_clickbotton">
      <%= f.submit t('view.login') %>
    </div>
  <% end %>
</div>

<div class="login">
  <h3><%=t('view.guest')%><%=t('view.login')%></h3>
  <%= form_with(scope: :guestsession, url: guestsessions_path ) do |f| %>
    <%= f.submit t('view.login') %>
  <% end %>
</div>

<div class="login">
  <h3><%=t('view.guest')%><%=t('view.admin_view')%><%=t('view.login')%></h3>
  <%= form_with(scope: :guestsession, url: guestsessions_admin_path ) do |f| %>
    <%= f.submit t('view.login') %>
  <% end %>
</div>


