<h1><%= @user.nickname %>のページ</h1>

<p><%= t('view.nickname') %> : <%= @user.nickname %></p>
<p><%= t('view.gender') %> : <%= @user.gender %></p>
<p><%= t('view.age') %> : <%= @user.age %></p>
<p><%= t('view.self_introduction') %> : <%= @user.self_introduction %></p>

<% if logged_in? %>
  <%= link_to t('view.edit'), edit_user_path(@user.id) %>
  <%= link_to t('view.back'),posts_path %>
<% else %>     
  <%= link_to t('view.back'),posts_path %>
<% end %>