<h1><%= @user.nickname %>のページ</h1>

<p><%= t('view.nickname') %> : <%= @user.nickname %></p>
<p><%= t('view.gender') %> : <%= @user.gender %></p>
<p><%= t('view.age') %> : <%= @user.age %></p>
<p><%= t('view.self_introduction') %> : <%= @user.self_introduction %></p>

      
<%= link_to t('view.back'),posts_path %>