<%= form_with(model: @freepost) do |f| %>
  <% if @freepost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@freepost.errors.count, "error") %> <%= t('view.exist') %></h2>
      <ul>
      <% @freepost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="free_post_form">
  <div class="free_post_tckt_form">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="free_post_tckt_form">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
  <div class="free_post_tckt_form">
    <%= f.label :kind %>
    <%= f.select :kind, FreePost.kinds.keys.map {|k| [k, k]} %>
  </div>
  <div class="free_post_tckt_form"> 
    <%= f.label :target_child_age %>
    <%= f.select :target_child_age, FreePost.target_child_ages.keys.map {|k| [k, k]} %>
  </div> 
  <div class="free_post_tckt_submit"> 
    <%= f.submit %>
  </div>
<% end %>