<div>
<% if current_user %>
  <%= link_to t('view.new_post'), new_post_path %>
<% end %>
 <table>
    <tr>
      <th><%= t('view.post_name') %></th>
      <th><%= t('view.content') %></th>
      <th><%= t('view.type') %></th>
      <th><%= t('view.created_at') %></th>
      <th><%= t('view.nickname') %></th>
    </tr>

    <% @posts.each do |post| %>
      <tr class="post_list">
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.type %></td>
      <td><%= post.area.name %></td>
      <td><%= post.created_at.to_s(:datetime_jp) %></td>
      <td><%= post.user.nickname %></td>

      <td><%= link_to t('view.post_detail'), post_path(post.id) %></td>
      <td><%# link_to t('view.edit'), edit_post_path(post.id) %></td>
      
      </tr>
    <% end %>
  </table>
</div>